# This is Git's per-user configuration file.
[user]
	name = Christian Bromann
	email = git@bromann.dev
[commit]
	gpgsign = true
[pull]
	rebase = true
	ff = only
[hub]
	protocol = ssh
[init]
	defaultBranch = main
